@media (max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    .block_data > .head
    {
        margin-bottom: 20px;
    }

    .block_data > .head .mob_sep
    {
        display: block;
    }

    .block_data > .head .sort
    {
        width: calc(100% - 131px);
        margin-left: 0px;
    }


    .block_data > .head .tabs
    {
        width: calc(100% + 5px);
        margin-top: 10px;
        margin-left: -5px;
    }
    .block_data > .head .block_title {
        margin-right: 15px;
    }



    .block_data .empty
    {
        padding: 20px;
    }

    .block_data .empty > .icon > *
    {
        width: 50px;
        height: 50px;
    }

    .block_data .empty .title
    {
        font-size: 17px;
        line-height: 21px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        margin-bottom: 30px;
        padding: 10px 0 15px;
    }
    

    header .logo
    {
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 15px;
        margin-right: auto;
    }


    header .langs
    {
        margin-right: 0;
    }


    header .balance {
        line-height: 18px;
        margin-left: 0;
        text-align: right;
        margin-top: 15px;

        display: none;
    }

    header .balance b
    {
        font-size: 18px;
        line-height: 18px;

        display: block;
    }

    header .balance_mob {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 15px;
    color: #80b2ff;
    margin-left: 0px;
    margin-top: 12px;
    width: 100%;
}

header .balance_mob .balance_mob-date {
    font-size: 18px;
    font-weight: 900;
    letter-spacing: -0.81px;
    line-height: 20px;
    color: #001737;
    margin-left: auto;
}



    /*-------------
        Sidebar
    -------------*/



    /*---------------
        Page head
    ---------------*/



    /*----------------
        Block head
    ----------------*/



    /*------------------
        Form elements
    ------------------*/
    .form .service .field
    {
        margin-bottom: -20px;
        margin-left: -25px;
    }

    .form .service .field > *
    {
        max-width: calc(100% - 25px);
        margin-bottom: 20px;
        margin-left: 25px;
    }

    .form .service .title
    {
        font-size: 16px;
        line-height: 20px;

        margin-bottom: 15px;
    }

    .form .service label img
    {
        width: 32px;
        height: 32px;
        margin-right: 10px;
    }


    .form .file
    {
        margin-bottom: 15px;
    }



    /*----------------
        Typography
    ----------------*/



    /*-----------
        Stats
    -----------*/
    .stats .row
    {
        margin-bottom: -10px;
    }

    .stats .row > *
    {
        width: calc(100% - 20px);
        margin-bottom: 10px;
    }



    /*---------------
        Companies
    ---------------*/
    .companies table td
    {
        width: 50%;
    }



    /*---------------------------
        Balance_replenishment
    ---------------------------*/
    .balance_replenishment .block_head .title
    {
        width: 100%;
        margin-bottom: 10px;
    }

    .balance_replenishment .block_head .title + .btn
    {
        margin-left: 0;
    }


    .balance_replenishment .col_left
    {
        width: 100%;
    }

    .balance_replenishment .col_right
    {
        width: 100%;
        max-width: 100%;
        margin-top: 25px;
    }


    .balance_replenishment .balance
    {
        margin-bottom: 20px;
    }



    /*----------
        Auth
    ----------*/
    .auth
    {
        padding: 25px 0;
    }

    .auth .title
    {
        font-size: 20px;
        line-height: 22px;
    }



    /*--------------
        Settings
    --------------*/
    .settings .block_head .title
    {
        width: 100%;
        margin-bottom: 10px;
    }

    .settings .block_head .title + .btn
    {
        margin-left: 0;
    }



    /*-------------
        Support
    -------------*/
    .support .block_head .title
    {
        width: 100%;
        margin-bottom: 10px;
    }

    .support .block_head .title + .btn
    {
        margin-left: 0;
    }



    /*------------------
        Company info
    ------------------*/
    .company_info .block_head .title
    {
        width: 100%;
        margin-bottom: 10px;
    }

    .company_info .block_head .title + .btn
    {
        margin-left: 0;
    }


    .company_info .head
    {
        margin-bottom: 15px;
        margin-left: -10px;
    }

    .company_info .head .service
    {
        width: calc(100% + 10px);
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .company_info .head .btn
    {
        margin-bottom: 10px;
        margin-left: 10px;
    }



    .company_info table.folds
    {
        display: block;
    }

    .company_info table.folds tbody
    {
        display: block;

        border-radius: 7px;
        background: #edf2f7;
    }

    .company_info table.folds tr
    {
        display: block;

        padding: 15px 20px;
    }

    .company_info table.folds tr + tr
    {
        border-top: 1px solid #cad4de;
    }

    .company_info table.folds td
    {
        display: block;

        width: 100%;
        padding: 0;
    }

    .company_info table.folds tbody tr:nth-child(odd) td
    {
        background: none;
    }

    .company_info table.folds td.val
    {
        margin-top: 5px;

        text-align: left;
        white-space: normal;
    }

    .company_info table.folds td.val br
    {
        display: none;
    }

    .company_info table.folds td.val.multiline
    {
        width: 100%;
    }

    .company_info table.folds td.tags
    {
        width: calc(100% + 5px);
        margin-bottom: -5px;
        margin-left: -5px;
    }

    .company_info table.folds td.tags > *
    {
        max-width: calc(100% - 5px);
        margin-bottom: 5px;
        margin-left: 5px;
    }



    .company_info .ad_preview
    {
        padding: 20px;
    }

    .company_info .ad_preview > * + *
    {
        margin-top: 20px;
    }



    .company_info .ad_preview  .gallery
    {
        margin-bottom: -10px;
    }

    .company_info .ad_preview  .gallery > *
    {
        margin-bottom: 10px;
    }



    .company_info .ad_preview .article .title
    {
        font-size: 18px;
        line-height: 20px;
    }

    .company_info .ad_preview .article .path
    {
        margin-top: 5px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion .item .head
    {
        padding: 12px 12px 12px 20px;
    }



    /*----------
        Tabs
    ----------*/
    .tabs
    {
        margin-bottom: -5px;
        margin-left: -5px;
    }

    .tabs button,
    .tabs button + button
    {
        margin-bottom: 0px;
        margin-left: 5px;
    }
    .tabs_container .head {
        top: 50px;
        align-items: baseline;
    }


    /*------------
        Footer
    ------------*/
    footer .logo
    {
        width: 100%;
        margin-bottom: 20px;

        justify-content: center;
    }


    footer .phone,
    footer .email
    {
        margin-right: auto;
        margin-left: auto;
    }


    footer .copyright,
    footer .privacy_ploicy
    {
        width: 100%;
        margin-top: 10px;

        text-align: center;
    }



    /*-----------
        PopUp
    -----------*/
    .fancybox-slide--html
    {
        padding: 20px;
    }


    .modal
    {
        padding: 40px 25px 25px;
    }

    .modal .logo
    {
        margin-bottom: 25px;
    }

    .modal_title
    {
        font-size: 20px;
        line-height: 20px;
    }

    .modal_desc
    {
        line-height: 22px;
    }

    .modal_correction .form .submit {
        align-content: flex-start;
    }
    .modal_correction .form .send_btn  {
        width: 125px;
    }
    .modal_correction .form textarea.height {
        height: 111px;
    }



    #edit_company_modal .modal_title
    {
        margin-bottom: 25px;
    }

    .block_box:first-child {
        margin-top: 83px;
    }
    .tabs_container .head {
        top: 62px;
        left: 0;
    }
    .tabs button + button {
        margin-left: 10px;
    }
    .block_data > .head .nice-select {
        min-width: 190px;
    }
    .block_data > .head .add_btn {
        margin-left: auto;
    }
    .block_box-img {
        display: none;
    }
    .block_box-content {
        width: 100%;
    }
    .block_box-social-mob {
        display: block !important;
        position: relative;
    }
    .block_box-account-wrap {
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    .block_box-social-mob img {
        width: 26px;
        height: 25px;
    }
    .block_box-socials-mob {
        display: flex;
    }
    .block_box-socials-mob a {
        display: block;
        margin-right: 5px;
    }
    .block_box-social-mob a {
        display: none;
    }
    .block_box-img-mob {
        display: block !important;
        width: 100%;
    }
    .block_box-account {
        flex-direction: column;
    }
    .block_box-img-mob img {
        width: calc(100% + 31px);
        margin-left: -15px;
    }
    .block_box-data::before {
        width: calc(100% + 40px);
        left: -20px;
    }
    .block_box-data::after {
        width: calc(100% + 40px);
        left: -20px;
    }
    .block_box-data {
        margin-top: 13px;
        margin-bottom: 14px;
    }
    .block .block_data .head {
        flex-direction: column;
    }
    .links_container {
        margin-top: 20px;
    }
    .block_data > .head .block_title {
        width: 100%;
    }
    .block_data > .head .nice-select .current {
        width: 180px;
    }
    .block_data > .head .nice-select .list {
        min-width: 180px;
    }
    .header_bottom_links {
        flex-direction: column;
        width: 100%;
    }
    .header_bottom_links a {
        width: 100%;
        margin-bottom: 9px;
        margin-right: 0;
        text-align: center;
    }
    .header_bottom_links a:last-child {
        margin-bottom: 0;
    } 
    .header_bottom {
        flex-direction: column;
    }

    .counter_items {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .counter_items > * {
        width: 100%;
        margin-bottom: 10px;
    }


    .account_links > *, .competitor_links > * {
        width: auto;
    }
    .account_links-item, .competitor_links-item {
        line-height: 19px;
    }

    .modal-competitor {
        max-width: 768px;
        width: 100%;
    }

    .perekhvat-info_wrapper {
        padding: 40px 25px 32px;
        margin-bottom: 30px;
    }
    .block_box-account-texts, .block_box-account-title {
      
    }

    .block_box-cont{
        flex-direction: column;
    }

    .block_box-account_hide{
        display: block;
    }

    .block_box-account-description{
        margin-top:20px;
    }
    .block_buttons{
        margin-top:20px;
    }
}
